.nothing__main-content{
    align-items: center;
    background-image: linear-gradient(240deg, $primary 0%, lighten($primary, 20) 100%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    p{
        text-align: center;
    }
}